$main-font: 'Cabin Sketch', cursive;
$secondary-font: 'Share Tech Mono', monospace;

$desktop: 580px;
@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

#wrapper {
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    width: 100%
}

nav {
    margin-left: 10px;
    margin-top: 10px;
    width: 20vw;
    background: white;
    position: fixed;
    border-radius: 20px 20px 50px 50px;
    display: none;
    padding-top: 30px;

    @include desktop {
        margin-top: 75px;
        border-radius: 5px;
        padding-top: 10px;
        width: 40vw
    }

    ul {        
        li {
            text-align: center;
            font-weight: 800;
            padding: 10px 0;
            font-family: $secondary-font;

            @include desktop {
                padding: 2px 5px;
            }

            a {
                text-decoration: none;
                color: black
            }
        }
    }
}

.active {
    display: block;

}

#menu-toggle {
    padding: 20px;
    position: relative;

    i {
        position: fixed;
        font-size: 140%;
        background: white;
        border-radius: 100px;
        padding: 15px;
        border: 1px solid black;
    }
}

#title {
    // margin: 200px auto;
    margin-top: 40px;
    // width: 70vw;
    width: 100%;
    // position: absolute;
    display: block;
    // color: rgb(2, 75, 75);
    text-align: center;

    h1 {
        font-size: 250%;
        line-height: 1.2em;
        font-weight: 800;
        font-family: $main-font;
        // background: rgba(216, 112, 147, .8);
        padding: 100px 30px;
        // border: 3px solid pink;
        border-radius: 70px;
        font-family: 'Bungee Shade', cursive;

        @include desktop {
            font-size: 175%;
            padding: 100px 30px;
        }
    }
}

header {
    float: right;
    // margin-top: 5px;
    margin-right: 30px;

    a:hover {
        text-decoration: none;
    }

    img {
        border-radius: 200px;
        width: 30px;
        margin-right: 3px;
    }    

    img:hover {
        transform: scale(1.5);
    }
}

#sections {
    // border-top: 5px solid darkcyan;
    // border-bottom: 5px solid darkcyan;
    padding: 50px 30px 100px 30px;
    background: rgb(236, 134, 168);
    border: 5px solid lavenderblush;
    // border-radius: 40px;

    h2 {
        font-family: $main-font;
        font-size: 180%;
        font-weight: 900;
        color: darkblue
    }

    p {
        font-family: $secondary-font;
    }
}

#about {
    margin-bottom: 80px;
    width: 80vw;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    display: block;

    h2 {
        text-align: center
    }

    img {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 300px;
        margin-bottom: 20px;
        border: 2px solid darkblue
    }
}


#projects {
    margin-bottom: 100px;

    h2 {
        margin-bottom: 30px;
        border-bottom: 3px solid darkblue;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 250%;
        text-align: center
    }

    h4 {
        font-family: $secondary-font;
        text-align: center;
        font-size: 125%;
    }
}

.project-des {
    margin-bottom: 50px;
    text-align: center;

    h5 {
        font-size: 90%;
        font-family: $secondary-font;
        margin-bottom: 20px;
        margin-top: 30px
    }

    a {
        color: darkcyan;
        background: white;
        border: 2px solid black;
        padding: 5px 25px;
        margin-right: 5px;
    }

    a:hover {
        text-decoration: none;
        background: rgba(34, 240, 240, 0.8);
        color: black;
        border: 2px solid darkblue;
        padding: 10px 40px
    }

    img {
        width: 300px;
        height: 210px;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block
    }

    img:hover {
        width: 350px;
        height: 250px
    }

    p {
        font-size: 90%;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 65vw
    }
}

.project-title {
    font-weight: 900;
    text-decoration: underline
}

#skills {
    margin-bottom: 50px;

    h2 {
        margin-bottom: 30px;
        border-bottom: 3px solid darkblue;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 250%;
        text-align: center
    }

    svg {
        width: 100px;
        margin-right: 30px;
        margin-bottom: 30px;
        display: inline-block;
    }

    p {
        text-align: center
    }

}

#contact {
    text-align: right;

    a {
        color: black
    }

    a:hover {
        text-decoration: none;
        color: rgb(219, 76, 124);
        background: rgb(106, 209, 209)
    }
}


#social a:hover {
    text-decoration: none;
}

#social img {
    border: 2px solid black;
    width: 30px;
}

#social img:hover {
    transform: scale(1.5);
}

footer {
    padding: 50px 0 30px 0;

    p {
        line-height: .8em;
        font-family: $secondary-font;
        color: darkblue;
        background: rgba(216, 112, 147, .5);
        width: 250px;
        text-align: center;
        font-weight: 800;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

