/* Full Page Layout */

#content {
    margin: 50px 100px;
}

.container {
    display: inline-block;
    margin-bottom: 30px;
}

.salmon {
    float: left;
    background: #ED6A5A;
}

.yellow {
    float: left;
    background: #F4F1BB;
}

.green {
    float: left;
    background: #A1BA89;
}

.col-sm {
    padding: 8px;
    margin-right: 5px;
}

/* Landing Page */

#welcome {
    position: relative;
    margin: 0 auto;
    padding: 120px 50px 120px 50px;
    background: rgba(161, 186, 137, .7);
    color: black;
    font-family: 'VT323', monospace;
    border: 10px solid salmon;
}

#intro {
    font-size: 175%;
    text-align: center;
    /* font-family: 'Work Sans', sans-serif, Arial; */
}

#name {
    font-size: 300%;
    text-align: center;
    letter-spacing: .5em;
    margin-bottom: 25px;
}

img {
    /* width: 15vw; */
    border-radius: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: -25px
}

/* #connect {
    float: left;
    text-align: center;
    margin-bottom: 100px;
} */


/* About Me Section */

h1 {
    margin-bottom: -15px;
}

#welcome {
    width: 100%;
    margin: 80px auto;
}

#contact-me {
    position: fixed;
    top: 20px;
    right: 30px;
}

#contact-me a {
    text-decoration: none;
    color: black;

}

input {
    margin-bottom: 30px;
}

p {
    text-align: justify;
    font-size: 110%;
}

#about {
    margin-bottom: 50px;
}
